# btloader service
type init-btloader, domain;
type init-btloader_exec, exec_type, system_file_type, file_type;

init_daemon_domain(init-btloader)

# Shell and toolbox access
allow init-btloader shell_exec:file rx_file_perms;
allow init-btloader toolbox_exec:file rx_file_perms;
allow init-btloader system_file:file execute_no_trans;
allow init-btloader vendor_shell_exec:file rx_file_perms;
allow init-btloader vendor_toolbox_exec:file rx_file_perms;

# Allow creating and writing to /data/vendor/bluetooth and wifi
allow init-btloader vendor_data_file:dir create_dir_perms;
allow init-btloader vendor_data_file:file create_file_perms;

# Properties
set_prop(init-btloader, bdaddr_prop)
set_prop(init-btloader, bluetooth_prop)
set_prop(init-btloader, system_prop)
set_prop(init-btloader, wifi_prop)

