type ussrd, domain;
type ussrd_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(ussrd)

# Allow ussrd to create and use phsd socket
allow ussrd self:unix_stream_socket create_stream_socket_perms;
allow ussrd phsd_socket:unix_stream_socket create_stream_socket_perms;

# Allow ussrd to access CPU nodes
allow ussrd sysfs_devices_system_cpu:file rw_file_perms;
allow ussrd sysfs_devices_system_cpu:dir r_dir_perms;

# Allow ussrd to access debugfs clocks
allow ussrd debugfs_clocks:file r_file_perms;

# Allow ussrd to access throughput nodes
allow ussrd throughput_device:chr_file rw_file_perms;

# Allow ussrd to access graphics nodes
allow ussrd tegradc_device:chr_file rw_file_perms;

# Allow ussrd to access system background tasks
allow ussrd cgroup:file rw_file_perms;

# Allow ussrd to execute shell scripts (ussr_setup.sh)
allow ussrd shell_exec:file rx_file_perms;
allow ussrd toolbox_exec:file rx_file_perms;
allow ussrd vendor_shell_exec:file rx_file_perms;

# Allow ussrd to set properties
set_prop(ussrd, system_prop)
set_prop(ussrd, exported_system_prop)
allow ussrd property_socket:sock_file write;
allow ussrd init:unix_stream_socket connectto;
